vm_name = "{{ vm_prefix_name }}{{ vm_base_name }}"
vm_vmdk_path = "F:/Tech/Labs/hyper-v/"
template_name = "packer-windows2022-g2"
switch_name = "vSwitch"
user_name = "{{ lab_admin_user }}"
user_password = "{{ lab_admin_password }}"