vm_name = "{{ vm_prefix_name }}{{ vm_base_name }}"
vm_vmdk_path = "F:/Tech/Labs/hyper-v/"
vm_vmdk_template_path = "E:/Tech/Labs/hyper-v/packer-windows2022-g2/Virtual Hard Disks/packer-windows2022-g2.vhdx"
user_name = "{{ lab_admin_user }}"
user_password = "{{ lab_admin_password }}"